<h2 class="titulo">Horarios</h2>

<div *ngIf="cargando" class="cargando">Cargando horarios...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<ul *ngIf="!cargando && !error" class="lista-horarios">
  <li *ngFor="let clase of clases" class="item-horario">
  <span class="sigla">{{ clase['Sigla Sección'] }}</span> - 
  <span class="nombre">{{ clase['Nombre Asignatura'] }}</span> - 
  <span class="docente">{{ clase['NOMBRE'] }}</span> - 
  <span class="sala">{{ clase['Sala'] }}</span> - 
  <span class="horario">{{ clase['Horario'] }}</span> - 
  <span class="obs">{{ clase['Observacion'] }}</span>
</li>
</ul>
